In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
dataset = pd.read_csv("dtdata.csv")

In [4]:
dataset.describe()

            ID
count  14.0000
mean    7.5000
std     4.1833
min     1.0000
25%     4.2500
50%     7.5000
75%    10.7500
max    14.0000

In [5]:
dataset

    ID    Age  Income  Gender Marital Status Buys
0    1    <21    High    Male         Single   No
1    2    <21    High    Male        Married   No
2    3  21-35    High    Male         Single  Yes
3    4    >35  Medium    Male         Single  Yes
4    5    >35     Low  Female         Single  Yes
5    6    >35     Low  Female        Married   No
6    7  21-35     Low  Female        Married  Yes
7    8    <21  Medium    Male         Single   No
8    9    <21     Low  Female        Married  Yes
9   10    >35  Medium  Female         Single  Yes
10  11    <21  Medium  Female        Married  Yes
11  12  21-35  Medium    Male        Married  Yes
12  13  21-35    High  Female         Single  Yes
13  14    >35  Medium    Male        Married   No

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              14 non-null     int64
 1   Age             14 non-null     object
 2   Income          14 non-null     object
 3   Gender          14 non-null     object
 4   Marital Status  14 non-null     object
 5   Buys            14 non-null     object
dtypes: int64(1), object(5)
memory usage: 800.0+ bytes

In [7]:
dataset

    ID    Age  Income  Gender Marital Status Buys
0    1    <21    High    Male         Single   No
1    2    <21    High    Male        Married   No
2    3  21-35    High    Male         Single  Yes
3    4    >35  Medium    Male         Single  Yes
4    5    >35     Low  Female         Single  Yes
5    6    >35     Low  Female        Married   No
6    7  21-35     Low  Female        Married  Yes
7    8    <21  Medium    Male         Single   No
8    9    <21     Low  Female        Married  Yes
9   10    >35  Medium  Female         Single  Yes
10  11    <21  Medium  Female        Married  Yes
11  12  21-35  Medium    Male        Married  Yes
12  13  21-35    High  Female         Single  Yes
13  14    >35  Medium    Male        Married   No

In [8]:
X=dataset.iloc[:,:-1]

In [9]:
X

    ID    Age  Income  Gender Marital Status
0    1    <21    High    Male         Single
1    2    <21    High    Male        Married
2    3  21-35    High    Male         Single
3    4    >35  Medium    Male         Single
4    5    >35     Low  Female         Single
5    6    >35     Low  Female        Married
6    7  21-35     Low  Female        Married
7    8    <21  Medium    Male         Single
8    9    <21     Low  Female        Married
9   10    >35  Medium  Female         Single
10  11    <21  Medium  Female        Married
11  12  21-35  Medium    Male        Married
12  13  21-35    High  Female         Single
13  14    >35  Medium    Male        Married

In [10]:
Y=dataset.iloc[:,5]

In [11]:
Y

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Buys, dtype: object

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
labelencoder_X = LabelEncoder()

In [17]:
X = X.apply(LabelEncoder().fit_transform)

In [18]:
X

    ID  Age  Income  Gender  Marital Status
0    0    1       0       1               1
1    1    1       0       1               0
2    2    0       0       1               1
3    3    2       2       1               1
4    4    2       1       0               1
5    5    2       1       0               0
6    6    0       1       0               0
7    7    1       2       1               1
8    8    1       1       0               0
9    9    2       2       0               1
10  10    1       2       0               0
11  11    0       2       1               0
12  12    0       0       0               1
13  13    2       2       1               0

In [19]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
regressor = DecisionTreeClassifier()

In [22]:
regressor.fit(X.iloc[:,1:5], Y)

DecisionTreeClassifier()

In [24]:
X_in = np.array([1,1,0,0])

In [25]:
Y_pred = regressor.predict([X_in])

C:\Users\91637\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [26]:
Y_pred

array(['Yes'], dtype=object)

In [33]:
from six import StringIO

In [35]:
from IPython.display import Image

In [45]:
from sklearn.tree import export_graphviz

In [38]:
import pydotplus

In [39]:
dot_data = StringIO()

In [41]:
export_graphviz(regressor, out_file = dot_data, filled = True, rounded = True, special_characters = True)

In [42]:
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

In [48]:
graph.write_png("tree.png")

InvocationException: GraphViz's executables not found